<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta charset="UTF-8">
    <title>Jim Buddy: Log In</title>   
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/primary.css">
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Faster+One&display=swap" rel="stylesheet">   
    <script src="js/jquery-1.11.0.js"></script>
    {{>facebook}}
    <script src="/js/facebook.js"></script>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-158763354-2', 'auto');
    ga('require', 'GTM-M5JWP27');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics --> 
</head>
<html id="all-login" lang="en">

    <div class='wrapper viewport-height'>
        <div class="main-home">
            <img class="logo" src='/images/temporary-logo.png'>
        </div>
        {{{ body }}}
    </div>
</html>