<div class="main-scroll account-container">
    <div class="btn-person header-profile">
        <p class="header-font">
            {{name}}
        </p>
    </div>
    <div class='account-photo'>
        <img src={{imageURL}} width="150"; height:="150">
    </div>
    <p class="account-description">{{description}}</p>
    <div class='account-switch'>
        Available for Mentorship
    </div>
    
    
    <div class='account-workout'>
        Workout Type:
        <br>
        <input type="radio" disabled id="radio1" name="type" value="weight">
        <label for="radio1">Weight</label>

        <input type="radio" disabled id="radio2" name="type" value="flexibility" checked="checked">
        <label for="radio2">Flexibility</label>

        <input type="radio" disabled id="radio3" name="type" value="cardio">
        <label for="radio3">Cardio</label>
    </div>
    <br>
        {{#if isFriend}}
        <div></div>
        {{else}}
        <input type="submit" class="add-friend-btn" id="submitBtn" class="btn btn-default" value="Add Friend" onclick="window.location.href='/addfriend'"></input>
        {{/if}}
    
</div>