<div class="main-scroll">
    <div class="btn-person header-profile">
        <p class="header-font">
            [User Name]
        </p>
    </div>
    <div class='profile-photo'>
        <img src="images/1wi3t0TU_400x400.jpg" width="150"; height:="150">
    </div>
    <br>
    <div class='profile-switch'>
        Available for Mentorship
        
    </div>
    <div class='profile-name'>
        Name: John Smith
    </div>
    <div class='profile-workout'>
        Main Type of Workout:
        <br>
        <input type="radio" id="radio1" name="type" value="weight">
        <label for="radio1">Weight</label>

        <input type="radio" id="radio2" name="type" value="flexibility">
        <label for="radio2">Flexibility</label>

        <input type="radio" id="radio3" name="type" value="cardio">
        <label for="radio3">Cardio</label>
    </div>
    
</div>