<div class="main-scroll account-container">
    <div class="btn-person header-profile">
        <p class="header-font">
            My Profile
        </p>
    </div>
    <div class="account-photo">
        <img src={{imageURL}}>
    </div>
    <form role='form' method='get' action='/customize'>
    <div class="btn-edit">
        <button type='button' class="btn btn-primary" onclick="window.location.href='/edit'">Change Profile Photo</button> 
    </div>
    <br>
    <div class='account-block'>
        Discoverable as a Mentor
        <label class="switch">
            <input type="checkbox" name='discoverable'>
            <span class="slider round"></span>
        </label>
    </div>
        {{#if firstTime}}
        <div style="input">
            <label for="userName">Name:</label>
            <br/>
            <input type='text' id='name' name='name'></input>
        </div>
        <br>
        {{/if}}
    <div class='account-workout'>
        <p class='account-workout-label'>Main Type of Workout:</p>
        <input type="radio" id="radio1" name="workout" value="weight">
        <label for="radio1">Weight</label>

        <input type="radio" id="radio2" name="workout" value="flexibility">
        <label for="radio2">Flexibility</label>

        <input type="radio" id="radio3" name="workout" value="cardio">
        <label for="radio3">Cardio</label>
    </div>
    <div class="btn-edit">
        <button type='button' class="btn-register" onclick="window.location.href='/profile'">Cancel Changes</button> 
    </div>
    <div class="btn-edit">
        <input type="submit" class='btn-register' value="Save Changes"></input> 
    </div>
    </form>
</div>