<div class="main-scroll">
    <div class="header-friends">
        <p class="header-font">
            My Buddies
        </p>
    </div>

    {{#each friends}}
    <div class="btn-person btn-person-click" onclick="window.location.href='/{{userName}}'">
        <div class="account-photo-small">
            <img src={{imageURL}}>
        </div>
        <a href="/accounts" class="btn-person-font">{{name}}</a>
        {{#if isMentor}}
        <div class="mentor-indicator">
            MENTOR
        </div>
        {{/if}}
        <svg id="i-chevron-right" class="icon-forward" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M12 30 L24 16 12 2" />
        </svg>
    </div>
    <div class="divider"></div>
    {{/each}}
    <div class="btn-mentor-close">
        <svg id="i-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
            <path d="M2 30 L30 2 M30 30 L2 2" />
        </svg>
    </div>

</div>