<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="css/primary.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="../public/js/homepage.js"></script>
    </head>
    <body>
        <div class="main-home">
            <div class="main-header">
                <button type="button" class="btn-settings" onclick="window.location.href='public/html/settings.html'">
    
                </button>
                <div class="logo">
                    LOGO
                </div>
                <button type="button" class="btn-account" onclick="window.location.href='public/html/account.html'">
        
                </button>
            </div>
            <div class="main-scroll">
                <div class="btn-mentor btn-person">
                    <img class="btn-icon" src="public/images/svg/basic_eye.svg" height="30">
                    <a href="public/html/mentors.html" class="btn-person-font">Find a Mentor</a>
                </div>

                <div class="btn-person">
                    <img class="btn-icon" src="public/images/svg/basic_eye.svg" height="30">
                    <a href="public/html/account.html" class="btn-person-font">Austin</a>
                </div>

            </div>
            <div class="tab">
                <div class="btn-tab btn-home">
                    <a href="#">Home</a>
                </div>
                <div class="btn-tab btn-msg">
                    <a href="public/html/main2.html">Messages</a>
                </div>
            </div>
        </div>
    </body>
    
</html>