
    <div class="wrapper viewport-height">
        <div class="login-header">
            <h1 class="login-header-text">GYM BUDDY</h1>
        </div>
        <div class="form-wrapper">
            <p1 class="text">Sign In</p>
            <form>
                <div class='input'>
                    <label>Email Address:</label>
                    <br/>
                    <input>
                </div>
            </form>
            <form>
                <div class='input'>
                    <label>Password:</label>
                    <br/>
                    <input>
                </div>
            </form>
            <br>
            <div>
                <div class="btn-mentor-pair" onclick="window.location.href='/main'">LOG IN</div>           
            </div>
            <div>
                <p class="facebookLogin" onclick="window.location.href='/main'">
                    <fb:login-button scope="public_profile,email" onlogin="checkLoginState(); window.location.href='/main'">
                    </fb:login-button>
			    </p>
            </div>
            <div class="login-buttons">
                    <div class="btn-mentor-retry" onclick="window.location.href='/signup'">SIGN UP</div>
                    <div class="btn-mentor-pair" onclick="window.location.href='/main'">LOG IN</div>
            </div>
        </div>
    </div> 
