<head>
    <meta charset="UTF-8">
    <title>Jim Buddy: Log In</title>   
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/primary.css">
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap" rel="stylesheet">   
    <script src="js/jquery-1.11.0.js"></script>
    {{>facebook}}
    <script src="/js/facebook.js"></script>
   
</head>
<body>
    <div class="wrapper viewport-height">
        <div class="login-header">
            <div class="login-header-text">
                <h1 class="login-title-a">GYM</h1>
                <h1 class="login-title-b">BUDDY</h1>
            </div>
            <img class="login-logo" src="images/temporary-logo.png" alt="trident" height="125" width="125">
        </div>
        <div class="form-wrapper">
            <p1 class="text">Sign In</p>
            <form>
                <div class='input'>
                    <label>Email Address:</label>
                    <br/>
                    <input>
                </div>
            </form>
            <form>
                <div class='input'>
                    <label>Password:</label>
                    <br/>
                    <input>
                </div>
            </form>
            <br>
            <div>
                <div class="btn-mentor-pair" onclick="window.location.href='/main'">LOG IN</div>           
            </div>
            <div>
                <p class="facebookLogin" onclick="window.location.href='/main'">
                    <fb:login-button scope="public_profile,email" onlogin="checkLoginState(); window.location.href='/main'">
                    </fb:login-button>
			    </p>
            </div>
            
            <br>
            <div class="footer"><a href="/signup">New? Sign up</a></div>
            <br>
        </div>
    </div> 
</body>