<head>
    <meta charset="UTF-8">
    <title>Jim Buddy: Log In</title>   
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" href= "css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/primary.css">
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="js/jquery-1.11.0.js"></script>
   
</head>
<body>
    <div class="wrapper viewport-height">
        <div class='header'>
            <img src="images/temporary-logo.png" alt="trident">
            <h1 class="serif">jim buddy</h1>
        </div>
        <div class="form-wrapper">
            <p1 class="text">Sign In</p>
            <form>
                <div class='input'>
                    <label>Email Address:</label>
                    <br/>
                    <input>
                </div>
            </form>
            <form>
                <div class='input'>
                    <label>Password:</label>
                    <br/>
                    <input>
                </div>
            </form>
            <br>
            <div>
                <button class="button1" onclick="window.location.href='/main'">LOG IN</button>           
            </div>
            <div>
                <button class="button2">f</button>
            </div>
            <br>
            <div class="footer"><a href="/signup">New? Sign up</a></div>
            <br>
            <div class="footer"><a href="/main">Forget Password?</a></div>
        </div>
    </div> 
</body>