<div class="main-scroll main-mentors-match">

    
    <h1>Mentor Found!</h1>
    <div class="account-photo">
        <img src={{imageURL}} width="150" height="150">
    </div>
    <h2>{{name}}</h2>
    <p>{{description}}</p>

    <div class="btn-mentor-pair">
        <a href="/{{userName}}" class="btn-mentor-pair-text">View Profile</a>
    </div>
   
    
</div>