<head>
    <script src="/js/facebook.js"></script>
</head>
<div class="main-scroll account-container" >
    <div class="btn-person header-profile">
        <p class="header-font">
            My Profile
        </p>
    </div>
    <div class='account-photo'>
        <img src="images/stock/dp.jpg" width="150"; height:="150">
    </div>
    <div class="btn-edit">
        <button type='button' class="btn btn-primary" onclick="window.location.href='/edit'">Edit Profile</button> 
    </div>
    <br>
    <div class="account-block">
        <div class="account-block-text">
            Mentorship Status:
        </div>
        {{#if mentorToggle}}
        <div class="mentorship-status-available">
            AVAILABLE
        </div>
        {{else}}
        <div class="mentorship-status-unavailable">
            UNAVAILABLE
        </div>
        {{/if}}
    </div>
    <div class='account-block'>
        <div class="account-block-text">
            Workout Category:
        </div>
        <div class="account-block-workout">
            {{workout}}
        </div>
    </div>
    
</div>