<div class="main-scroll main-mentors">
    <br>
    <br>
    <h1>Feeling lost?</h1>
    <p>Instantly pair with a mentor.</p>
    <br>
    <div class="btn-mentor-pair">
        <a href="/accounts" class="btn-mentor-pair-text">Get Mentor</a>
    </div>
    <br>
    <br>
    <a onclick="window.history.back()">Back</a>

</div>