<div class="main-scroll">
    <div class="btn-person header-settings">
        <p class="header-font">
            Settings
        </p>
    </div>
    <div class="btn-person btn-logout-click">
        <svg id="i-signout" class="icon-user" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M28 16 L8 16 M20 8 L28 16 20 24 M11 28 L3 28 3 4 11 4" />
        </svg>
        <a href='#' class="btn-person-font">Log Out</a>
    </div>
</div>