<head>
    <meta charset="UTF-8">
    <title>Jim Buddy: Sign In</title>   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/primary.css">
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="js/jquery-1.11.0.js"></script>
</head>
<body>
    <div class="wrapper viewport-height">
        <div class='header'>
            <img src="images/temporary-logo.png" alt="trident">
            <h1 class="serif">jim buddy</h1>
        </div>
        <div class="form-wrapper">
            <p1 class="text">Sign Up</p>
            <form class='registerForm' role='form' method='get' action='/register'>
                <div style="input">
                    <label for="userName">Name:</label>
                    <br/>
                    <input type='text' id='name' name='name'></input>
                </div>
                <div class='input'>
                    <label>Email Address:</label>
                    <br/>
                    <input type='email' id='email' name='email'></input>
                </div>
                <div class='input'>
                    <label>Password:</label>
                    <br/>
                    <input type='password' id='password' name='password'></input>
                </div>
            <br>
            <div>
                <input type="submit" class='btn-register' value="Sign Up"></input>           
            </div>
            <div>
                <button class="button2">f</button>
            </div>
            <br>
            </form>
            <div class="footer"><a href="/">Already an user? Sign In</a></div>
        </div>
    </div>
</body>