    <div id="sort">
    <!-- buddies tab -->
    {{#each buddies}}
        {{#if mentorToggle}}
        <div class="btn-person btn-person-click" onclick="window.location.href='/{{userName}}'">
            <div class="account-photo-small">
                <img src={{imageURL}}>
            </div>
            <a href='#' class="btn-person-font">{{name}}</a>
            <svg id="i-chevron-right" class="icon-forward" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M12 30 L24 16 12 2" />
            </svg>
        </div>
        <div class="divider"></div>
        {{/if}}
    {{/each}}
    </div>
    <div class="btn-mentor btn-mentor-click">
        Help
    </div>
    <div class="btn-mentor-secondary">
        <div class="main-mentors">
            <br>
            <br>
            <h1>Feeling lost at the Gym? Use Gym Buddy!</h1>
            <p>Navigate through the Available Mentors and Available Buddies tabs to connect with others!</p>
            <br>
            <br>
            <br>

        </div>
    </div>

    <div class="btn-mentor-close">
        <svg id="i-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="#747678" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
            <path d="M2 30 L30 2 M30 30 L2 2" />
        </svg>
    </div>
