* {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
    position: relative;
    margin: 0 0;
}

.wrapper {
    background-color: #182B49;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

a:active {
    color: lightcoral;
}

a:visited {
    color: black;
}

a.btn-person-font {
    font-size: 16px;
}

.main-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #182B49;
    padding: 10px;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-left: 0;
    margin-right: 0;
    height: 20%;
}

.main-scroll {
    height: 61vh;
    overflow-y: scroll;
    background-color: #B6B1A9;
}

.btn-person {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;    
    width: 100%;
    height: 60px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(172, 172, 172, 0.425);
}

img.btn-icon {
    margin-left: 20px;
    margin-right: 20px;
}

svg.icon-user {
    margin-left: 25px;
    margin-right: 20px;
}

svg.icon-forward {
    margin-left: auto;
    margin-right: 25px;
}

.btn-mentor {
    background-color: #FFCD00;
    margin-top: 0;
    margin-bottom: 0;
}

.btn-settings {
    align-self: flex-start;
    height: 20px;
    width: 10px;
}

.btn-account {
    display: flex;
    align-self: flex-start;
    height: 20px;
    width: 10px;
}

.btn-person a {
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    box-shadow: 0 -1px 20px 0px gray;
}

.btn-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
}

.tab a {
    color: #FFCD00;
}

.btn-home {
    
}

.btn-msg {

}

button {
    background-color: blue;
}

.logo {
    color: #FFCD00;
    border: 1px solid black;
}

.container {
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #182B49;
}

.btn-changephoto-font {
    color: white;
    justify-content: center;
    display: flex;
}

.profile-name {
    align-items: center;
    padding: 5px;
    border-radius: 40px;
    border: 2px solid #FFCD00;
}

.profile-workout {
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    border: 2px solid #FFCD00;
}

.profile-switch {
    align-items: center;
    padding: 5px;
    border-radius: 40px;
    border: 2px solid #FFCD00;
}

#profile-text {
    align-items: center;
    justify-content: center;
    display: flex;
}

.profile-photo {
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo {
    width: 50px;
    height: 50px;
}