:root {
    /* Colors */
    --color-primary: #182B49;
    --color-secondary: #FFCD00;
    --color-tertiary: #FC8900;
    --color-quaternary: #6E963B;
    --color-quinary: #00C6D7;

    --color-font: #000;
    --color-btn-person: #fff;

    --color-font-light: #fff;
    --color-gray: gray;
    --color-gray-light: #e8e8e8;
    --color-gray-dark:  #747678;
}

/* Animations */

* {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: var(--color-gray-dark);
}

body {
    position: relative;
    margin: 0 0;
}

.wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-wrapper {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.viewport-height {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

a {
    text-decoration: none;
    color: var(--color-gray-dark);
}

a:hover {
    color: var(--color-gray-dark);
    cursor: pointer;
}

a:active {
    color: var(--color-gray-dark);
}

a:visited {
    color: var(--color-gray-dark);
}

a.btn-person-font {
    font-size: 16px;
}

/* Main Sections */
.login-header {
    margin: 5px auto 5px auto;
}

.login-header-text {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: var(--color-secondary);
    transform: translateY(-60px);
    font-family: 'Faster One', 'Open Sans', 'Helvetica', 'sans-serif';
    font-weight: lighter;
}

.login-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.login-logo {
    margin: 0;
    padding: 0;
}

.login-title-a {
    
    text-shadow: 1px 1px 4px 5px black;
    color: var(--color-secondary);
    font-family: 'Bungee Inline', 'Open Sans', 'Helvetica', 'sans-serif';
    margin: 0;
    padding: 0;
}

.login-title-b {
    
    text-shadow: 1px 1px 4px 5px black;
    color: var(--color-secondary);
    font-family: 'Bungee Inline', 'Open Sans', 'Helvetica', 'sans-serif';
    margin: 0;
    padding: 0;
}

.main-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    height: calc(var(--vh, 1vh) * 100 * 0.1);
}

.main-middle {
    position: relative;
    overflow: hidden;
    margin-bottom: auto;
    flex-shrink: 100;
    height: calc(var(--vh, 1vh) * 100 * 0.8);
    z-index: 5;
}

.main-scroll {
    overflow-y: scroll;
    background-color: white;
    margin-bottom: auto;
    flex-shrink: 100;
    height: calc(var(--vh, 1vh) * 100 * 0.8);
    z-index: 10;
}

.main-mentors {
    background-color: var(--color-quinary);
    color: var(--color-font-light);
    text-align: center;
    height: 100%;
}

.main-mentors-match {
    display: flex;
    flex-direction: column;
    background-color: var(--color-quinary);
    color: var(--color-font-light);
    text-align: center;
}

nav {
    background-color: var(--color-primary);
    height: calc(var(--vh, 1vh) * 100 * 0.1);
}

nav:hover {
    cursor: pointer;
}

/* Main Buttons */
.btn-person {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-btn-person);    
    width: 100%;
    height: 60px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.divider {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #fff 0%, var(--color-gray-light) 100%);
    width: 100%;
    height: 1px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.mentor-indicator {
    background-color: var(--color-secondary);
    color: var(--color-font-light);
    padding: 8px;
    border-radius: 10px;
}

.btn-mentor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-quinary);
    padding: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    box-shadow: 1px 1px 5px 0px gray;
    z-index: 10;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

.btn-mentor-secondary {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-quinary);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 5;
}

.btn-mentor-close {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 5;
}

.btn-mentor-icon {
    display: block;
}

.btn-mentor-animate {
    animation-name: search-expand;
    animation-duration: 2s;
}

.btn-mentor-pair {
    cursor: pointer;
    display: inline-block;
    align-self: center;
    width: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--color-secondary);
    text-align: center;
    color: var(--color-primary);
}

.btn-mentor-retry {
    cursor: pointer;
    display: inline-block;
    align-self: center;
    width: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
    text-align: center;
    color: var(--color-secondary);
}

a.btn-mentor-pair-text {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: none;
    text-decoration: none;
    color: white;
}

svg.icon-user {
    margin-left: 25px;
    margin-right: 20px;
}

svg.icon-forward {
    margin-left: auto;
    margin-right: 25px;
}

.btn-settings {
    align-self: flex-start;
    height: 20px;
    width: 10px;
}

.btn-account {
    display: flex;
    align-self: flex-start;
    height: 20px;
    width: 10px;
}

.btn-rematch {
    border: 1px solid black;
    padding: 10px 20px;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -1px 20px 0px gray;
    z-index: 50;
}

.tab a {
    color: var(--color-secondary);
}

.container {
    width: 100%;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.btn-edit{
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}

/* Account */
.account-container {
    display: flex;
    flex-direction: column;
}

.add-friend-btn
{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: var(--color-secondary);
    color: white;
    width: 150px;
    text-transform: uppercase;
    letter-spacing: .7px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 0px gray;
}

#addFriendForm {
    align-self: center;
}

.account-description {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.profile-header
{
    color: white;
    background-color: var(--color-primary);
}

.account-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 0 auto 10px auto; 
    padding: 10px;
    width: 330px;
    border-radius: 10px;
    background-color: var(--color-gray-light);
}

.account-block-text {
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;
}

.account-block-workout {
    background-color: var(--color-primary);
    color: var(--color-font-light);
    padding: 8px;
    border-radius: 10px;
}

.mentorship-status-available {
    background-color: var(--color-quaternary);
    color: var(--color-font-light);
    padding: 8px;
    border-radius: 10px;
}

.mentorship-status-unavailable {
    background-color: crimson;
    color: var(--color-font-light);
    padding: 8px;
    border-radius: 10px;
}

#profile-text {
    align-items: center;
    justify-content: center;
    display: flex;
}

.account-photo {
    align-self: center;
    margin-top: 20px;
    height: 150px;
    width: 150px;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
}

.account-photo img {
    width: 150px;
    height: 150px;
}

.account-photo-small {
    height: 35px;
    width: 35px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
}

.account-photo-small img {
    height: 35px;
    width: 35px;
}

.account-workout {
    align-items: center;
    align-self: center;
    padding: 15px;
    border-radius: 40px;
    border: 2px solid var(--color-secondary);
    justify-content: center;
}

.account-workout input[type="radio"]
{
    display: none;
}

.account-workout-label {
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.account-workout label
{
    align-items: center;
    justify-content: center;
    display: inline-block;
    border-radius: 40px;
    border: 1px solid var(--color-secondary);
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
}

.account-workout input[type="radio"]:checked+label
{
    background-color: #bbb;
}

.logo {
    width: 50px;
    height: 50px;
}

/* Page Titles */
.header-mentor {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.header-friends {
    background-color: var(--color-tertiary);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.header-profile {
    background-color: var(--color-quinary);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.header-settings {
    background-color: var(--color-quaternary);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.header-font {
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bolder;
    color: var(--color-font-light);
}

a.header-font-mentor {
    color: var(--color-font-light);
}


/*Toggle Switch Section*/ 

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .input {
    text-align:center;
  }

  input:checked + .slider {
    background-color: var(--color-primary);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }